[submodule "shellcheck.net"]
	path = shellcheck.net
	url = https://github.com/koalaman/shellcheck.net
[submodule "ace"]
	path = ace
	url = https://github.com/darinkes/ace
[submodule "shellcheck"]
	path = shellcheck
	url = https://github.com/koalaman/shellcheck
